#Created by Constraints Editor (xc95144xl-tq100-10) - 2018/04/22
TIMESPEC TS_CLKCPU = PERIOD "CLKCPU" 60 ns HIGH 50%;

NET "CLKCPU"	LOC="22";
NET "CLKCPU"	BUFG=CLK;
NET "CLKCPU"	TNM_NET="CLKCPU";

NET "nRESET"	LOC="68";

NET "AL<0>"		LOC="79";
NET "AL<1>"		LOC="78";
NET "AL<2>"		LOC="16";
NET "AL<3>"		LOC="17";
NET "AL<4>"		LOC="18";
NET "AL<5>"		LOC="77";
NET "AL<6>"		LOC="76";

NET "AM<12>"	LOC="65";
NET "AM<13>"	LOC="64";

NET "AH<15>"	LOC="63";
NET "AH<16>"	LOC="61";
NET "AH<17>"	LOC="59";
NET "AH<18>"	LOC="58";
NET "AH<19>"	LOC="56";
NET "AH<20>"	LOC="55";
NET "AH<21>"	LOC="54";
NET "AH<22>"	LOC="53";
NET "AH<23>"	LOC="52";

NET "D<24>"		LOC="90";
NET "D<25>"		LOC="8";
NET "D<26>"		LOC="7";
NET "D<27>"		LOC="6";
NET "D<28>"		LOC="97";
NET "D<29>"		LOC="96";
NET "D<30>"		LOC="71";
NET "D<31>"		LOC="95";

NET "nDS"		LOC="82";
NET "nAS"		LOC="74";
NET "R_nW"		LOC="89";
NET "SIZ<0>"	LOC="87";
NET "SIZ<1>"	LOC="86";
# DSACK nets are name reversed on the K1208 board. These assignments give the correct
# connection relative to the CPU.
NET "nDSACK<0>"	LOC="72";
NET "nDSACK<1>" LOC="67";
NET "nINT2"		LOC="70";
NET "nOVR"		LOC="66";

NET "RAM_MUX"	LOC="60";
NET "RAM_A<0>"	LOC="93";
NET "RAM_A<1>"	LOC="92";
NET "RAM_nOE"	LOC="85";
NET "RAM_nRAS<0>"	LOC="94";
NET "RAM_nRAS<1>"	LOC="91";
NET "RAM_nCAS<0>"	LOC="14";
NET "RAM_nCAS<1>"	LOC="15";
NET "RAM_nCAS<2>"	LOC="80";
NET "RAM_nCAS<3>"	LOC="81";

NET "SD_SCLK"	LOC="34";	# SDCLK
NET "SD_MOSI"	LOC="24";	# SDSI
NET "SD_MISO"	LOC="28";	# SDSO
NET "SD_nCS"	LOC="20";	# SDCS
NET "SPI_SCLK" 	LOC="10";	# SCK
NET "SPI_MOSI"	LOC="13";	# SI
NET "SPI_MISO"	LOC="11";	# SO
NET "SPI_nCS0"	LOC="9";	# CSA
NET "SPI_nCS1"	LOC="12";	# CSB
NET "NET_nRESET"	LOC="29"; # RESETSPI
NET "NET_nINT"	LOC="41";	# INTSPI
NET "GPIO<0>"	LOC="32";	# HDR1
NET "GPIO<1>"	LOC="35";	# HDR2
NET "GPIO<2>"	LOC="36";	# HDR3
NET "GPIO<3>"	LOC="37";	# HDR4
NET "GPIO<4>"	LOC="39";	# HDR5
NET "GPIO<5>"	LOC="40";	# HDR6
NET "GPIO<6>"	LOC="43";	# HDR7
NET "GPIO<7>"	LOC="46";	# HDR8
NET "GPIO<8>"	LOC="49";	# HDR9
NET "GPIO<9>"	LOC="50";	# HDR10
NET "n4MB"		LOC="19";	# 4MB jumper (needs pull up resistor mod)

